body {
    font-family: "Robotic",sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*  HEADER Section  */

#HEADER {
    background-color: #1F2937;
    padding: 2% 10%;
}

#HEADER h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAf8;
    padding: 0;
    margin: 0;
}

#HEADER p, a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-box {
    display: flex;
    flex-direction: column;
}

.header-link {
    margin-left: auto;
}

.navbar {
    display: flex;
    gap: 32px;
    margin-bottom: 3rem;
}

.intro-box {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.intro-element {
    width: 800px;
    height: auto;
    min-width: 500px;
    min-height: auto;
}

.btn {
    border-radius: 12px;
    padding: 15px 50px;
    color: white;
    background-color: #3882F6;
    border-style: none;
    font-size: 24px;
}

/*  RANDOM section  */
#RANDOM {
    padding: 2% 10%;
}
#RANDOM h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin: 0;
    padding: 3% 0;
}
.random-box {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.random-item {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

/*  QUOTE Section   */
#QUOTE {
    padding: 5% 10%;  
    background-color: #E5E7EB;
    text-align: center;
}
#QUOTE h3 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

#QUOTE p {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}