body {
    font-family: "Robotic",sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
    height: auto;
}

/*  HEADER Section  */

#HEADER {
    background-color: #1F2937;
    padding: 2% 10%;
}

#HEADER h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAf8;
    padding: 0;
    margin: 0;
}

#HEADER p, a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-box {
    display: flex;
    flex-direction: column;
}

.header-link {
    margin-left: auto;
}

.navbar {
    display: flex;
    gap: 32px;
    margin-bottom: 3rem;
}

.intro-box {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.intro-element {
    width: 600px;
    height: auto;
}

.btn {
    border-radius: 12px;
    padding: 15px 50px;
    color: white;
    background-color: #3882F6;
    border-style: none;
    font-size: 24px;
}